body{
    margin: 0;
    padding: 0;
}

header{
    border-bottom: 1px solid black;
    min-width: 96vw;
    max-width: 96vw;
    min-height: 10vh;
    max-height: 10vh;
    padding: 3vh 2vw 0vh 2vw;
    font-size: 32px;
}

header span{
  float: right;
  margin-right: 2vw;
}

header a{
    font-size: 14px;
}

.sidebar{
    border-right: 1px solid black;
    display: inline-block;
    min-width: 30vw;
    max-width: 30vw;
    min-height: 79vh;
    max-height: 79vw;
}

main{
    position: absolute;
    display: inline-block;
    min-width: 69vw;
    min-height: 79vh;
}

footer{
  position: absolute;
  border-top: 1px solid black;
  min-width: 100vw;
  text-align: center;
}

form{
  margin: 5vh 0vw 0vh 24vw;
}

form input{
  display: block;
  margin-bottom: 3vh;
}